.move-up-in-down-out {
  --edge-distance: 1.5rem;
  --height: 2rem;
}

.show-details {
  --edge-distance: 1.5rem;
  --height: 1.5rem;
}

.move-up-in-down-out-start-out {
  top: calc(100% - var(--edge-distance) - var(--height));

  &.move-up-in-down-out-enter,
  &.move-up-in-down-out-exit-done {
    top: calc(100% - var(--edge-distance) - var(--height));
  }

  &.move-up-in-down-out-enter-active {
    top: var(--edge-distance);
    transition: top 200ms linear;
  }

  &.move-up-in-down-out-enter-done,
  &.move-up-in-down-out-exit {
    top: var(--edge-distance);
  }

  &.move-up-in-down-out-exit-active {
    top: calc(100% - var(--edge-distance) - var(--height));
    transition: top 200ms linear;
  }
}

.move-up-in-down-out-start-in {
  top: var(--edge-distance);

  &.move-up-in-down-out-enter,
  &.move-up-in-down-out-exit-done {
    top: calc(100% - var(--edge-distance) - var(--height));
  }

  &.move-up-in-down-out-enter-active {
    top: var(--edge-distance);
    transition: top 200ms linear;
  }

  &.move-up-in-down-out-enter-done,
  &.move-up-in-down-out-exit {
    top: var(--edge-distance);
  }

  &.move-up-in-down-out-exit-active {
    top: calc(100% - var(--edge-distance) - var(--height));
    transition: top 200ms linear;
  }
}
