version: 2
updates:
# Fetch and update latest `npm` packages
- package-ecosystem: npm
  directory: '/'
  target-branch: 'dev'
  schedule:
    interval: weekly
  commit-message:
    prefix: fix
    prefix-development: fix
    include: scope
# Fetch and update latest `github-actions` pkgs
- package-ecosystem: github-actions
  directory: '/'
  target-branch: 'dev'
  schedule:
    interval: weekly
  commit-message:
    prefix: chore
    prefix-development: chore
    include: scope
