# Logs
logs
*.log

# NPM
node_modules/

# Build Ouput
dist
coverage
src/renderer/licenses.ts

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Missed Translations during Development
*.missing.json

.idea/*
