// Options
// Quickly modify global styling by enabling or disabling optional features.
$enable-responsive-font-sizes: true;

// Body
// Settings for the `<body>` element.
$body-color: #d7d7d7;
$white: #3a3a3a !default;
$black: #d7d7d7 !default;
$gray-700: #d7d7d7 !default;

// Buttons
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-border-radius: 3rem;
