// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-responsive-font-sizes: true;

// Body
//
// Settings for the `<body>` element.
$body-color: #d7d7d7;


$white:    #3A3A3A !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-border-radius: 3rem;
