.en-us * {
  font-family: 'Source Han Sans', sans-serif !important;
}

.ja-jp * {
  font-family: 'Source Han Sans', sans-serif !important;
}

.zh-cn * {
  font-family: 'Source Han Sans SC', sans-serif !important;
}
