// Global styles
div#app {
  width: 100vw;
  height: 100vh;
}

.image-button {
  // background: transparent;
  border: transparent;
  border-radius: 35px;
}

.image-button:hover {
  filter: invert(40%);
}

.image-button:focus {
  border: solid;
  // border-color: #bbb9b9;
  border-color: black;
  border-width: '10rem';
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

// Unless specified otherwise, all images are not draggable and not selectable
* {
  -webkit-user-drag: none;
  user-select: none;
}

// https://stackoverflow.com/a/42225797
td:empty::after,
.list-group-item:empty::after,
.place-held:empty::after {
  content: '\00a0';
}
