// Global styles
div#app {
  width: 100vw;
  height: 100vh;
}

.highlightButton {
  width: 1rem;

}

.highlightButton:hover{
  border-style: solid;
  border-color: #cb4335;
}

.highlightButton:active{
  border-style: solid;
  border-color: blue;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

// Unless specified otherwise, all images are not draggable and not selectable
* {
  -webkit-user-drag: none;
  user-select: none;
}

// https://stackoverflow.com/a/42225797
td:empty::after,
.list-group-item:empty::after,
.place-held:empty::after {
  content: '\00a0';
}
